streamlit==1.34.0
pillow==10.2.0
google-generativeai==0.5.4
selenium==4.18.1
webdriver-manager==4.0.1
langchain-core==0.2.1
langchain==0.2.1
langchain-openai==0.1.7
langchain-google-genai==1.0.5
python-dotenv==1.0.1